body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  box-shadow: inset 0 0 4em rgba(0, 0, 0, .2);
  margin: 0;
  padding: 1px 0;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ccccee' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  scroll-behavior: smooth;
}

.xbox {
  overflow: hidden;
  box-shadow: .66ex .75ex 0 rgba(0, 0, 0, .035);
}

.xctg {
  background-color: White;
}

.xctg h2 {
  display: inline-block;
  border-bottom: 2px solid #DDD;
  background-color: mintcream;
  margin: 0;
}

h2, h4 {
  font-family: 'Roboto Slab', serif;
}

.xctg h4 {
  display: inline-block;
}

.xctg h4 {
  margin: 0 .15em .5ex 0;
}

.xbox li.subtitle {
  background-color: #FEFEE0;
  display: block;
  margin: 2em 30% 1em -1em;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ccccee' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.xbox li.subtitle h4 {
  font-size: 19px;
  color: #644;
  margin-top: 1em;
  background-color: White;
  margin: 0 1em;
  padding: 0 1em 0 1.5ex;
}

hr {
  border: none;
  border-bottom: 1px solid #DDD;
  margin: 2em;
}

ul.list-unstyled {
  list-style: none;
  padding-left: 0;
}

ul.list-unstyled li {
  margin: 1.33ex 0;
}

a {
  color: royalblue;
  text-decoration: none;
  border-bottom: 2px solid royalblue;
}

.desc {
  color: #766;
}

li:hover .desc {
  color: #111;
}

span.desc:empty {
  display: none;
}

.telverde {
  border: 1px solid #DDF;
  padding: .66ex .75em;
  display: inline-block;
  background-color: lightyellow;
  border-radius: 2px;
  /* font-size: 18px; */
}

#tehnav .telverde a {
  background-color: transparent !important;
  color: darkred;
  font-weight: bold;
  font-size: 1.2em;
  ;
}

.tagz a {
  border: none;
  font-size: 14px;
  color: #88B;
  display: inline-block;
  margin-right: 3px;
  opacity: .74;
}

.tagz:empty {
  display: none;
}

li:hover .tagz a {
  opacity: 1;
}

.tagz a:after {
  content: ', ';
}

.tagz a:first-child:before {
  content: ' (';
  color: #CCF;
}

.tagz a:last-child:after {
  content: ')';
  color: #CCF;
}

.navleadwrapper {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0, 0, 55, .25);
  display: inline-block;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .1);
  padding: .5ex 1ex;
}

.navleadwrapper code mark {
  font-weight: normal;
  padding: 0 .5ex;
  background-color: rgba(255, 255, 0, 0.6);
  color: darkred;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
}

@media screen and (min-width: 1280px) {
  .xctg {
    background-color: White;
    margin: 1em;
    padding: 1em 1.5em;
  }
  /* .telverde {
    position: fixed;
    top: .15em;
    right: .75em;
    font-size: 22px;
    padding: 1ex;
    border: 2px solid darkred;
    background-color: rgba(255, 255, 205, .25);
    border-radius: 3px;
    box-shadow: .3ex .5ex 0 rgba(0, 0, 0, .1);
    color: #777;
  } */
  li.navspacer {
    display: none;
  }
  ul#tehnav {
    position: fixed;
  }
  ul#tehnav a {
    background-color: White;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #556;
  }
  ul#tehnav li {
    margin: .5em 0 0 0;
  }
  ul#tehnav li .counter {
    font-weight: normal;
    color: #999;
    font-size: 12px;
  }
   #tehnav li.subtitle {
    margin: .066em 0 0 1ex;
  }
  #tehnav li.subtitle a {
    font-size: 15px;
    font-weight: normal;
  }
  /* .xcontainer {
    width: 1280px;
    width: 100%;
    margin: 0 auto;
  } */
  .nav-wrapper, #content-wrapper {
    padding: 0 2em;
    display: inline-block;
    vertical-align: top;
  }
  #content-wrapper {
    width: 800px;
    /* padding-left: 100px; */
  }
  .nav-wrapper {
    /* width: 420px; */
    width: 200px;
  }
  .cta-inner {
    border-left: 3px solid rgb(187, 102, 53);
    display: block;
    max-width: 15em;
    font-size: 14px;
    padding-left: 1ex;
    margin-top: 2em;
  }
  #gphxx {
    position: fixed;
    bottom: 1em;
    left: 2em;
    opacity: .5;
    width: 160px;
  }
  #lastupdated>small {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: inline-block;
  }
}

@media screen and (max-height: 555px) {
  #gphxx {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  #gphxx {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .xctg {
    background-color: White;
    margin: 1em 0;
    padding: 1em .75em;
  }
  #tehnav li.navspacer {
    width: 100%;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  #tehnav .navlead {
    margin-bottom: 0;
  }
  .navcta {
    display: block;
    text-shadow: 0 0 1ex lightyellow;
    font-size: 14px;
  }
  ul#tehnav li {
    display: inline-block;
    margin-right: 1ex;
  }
  ul#tehnav a {
    border-bottom-width: 1px;
  }
  ul#tehnav {
    display: inline-block;
    padding: .5ex 1ex;
    border-radius: 3px;
    text-shadow: 1px 1px 0 white;
    /* border: 1px solid #CCF; */
  }
}

img.favicon {
  margin: 0 0 -.3ex .2ex;
  filter: grayscale(66%);
  -webkit-filter: grayscale(66%);
  -moz-filter: grayscale(66%);
  opacity: .7;
}

.unicon {
  position: relative;
  bottom: -2px;
  transform: scale(1.2);
  display: inline-block;
  color: red;
  text-shadow: 1px 1px 0 White, 2px 2px 0 White;
}

#lastupdated {
  text-align: right;
  padding: 0;
  margin: 0 1ex 0 0;
  color: #AAA;
  text-shadow: 1px 1px 0 White;
}

#lastupdated small {
  font-size: 13px;
}

#lastupdated b {
  font-weight: normal;
  color: #888;
}

/* entry styling 
- - - - - - - - - - - - - - - - - - - - -  
*/

li.mark.no-name span.desc, li.mark h4 {
  background-color: rgba(255, 255, 0, 0.3);
  padding: .5ex;
  box-shadow: 3px 4px 0 rgba(0, 0, 0, .05);
}

li.mark span.desc {
  color: Black;
}

li.mark h4 {
  padding-left: 1.25ex;
  padding-right: 1.25ex;
  margin-left: -1.25ex;
  margin-right: 1ex;
  border-radius: 1em;
  border: 1px solid #DDD;
}

.xctg li.inline.mark.no-name span.desc {
  background-color: rgba(255, 255, 0, 0.3);
  border-radius: 1em;
}

li.bold {
  font-weight: bold;
}

li.mark h4:hover {
  border-radius: 2px;
  border-color: #CBB;
}

li.mark h4 a {
  border: none;
}

.alpha7 {
  opacity: .7;
}

.alpha7:hover {
  opacity: 1;
}

.xctg li.inline {
  display: inline;
  /* margin-right: .6ex; */
}

.xctg li.inline+li.inline:before {
  content: '; ';
  color: #999;
  font-size: .9em;
}

/* stats 
- - - - - - - - - - - - - - - - - - - - -  
*/

#statswrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.5em;
  padding-bottom: 1ex;
  background-color: rgba(255, 255, 255, .5);
}

ul#statsList {
  font-size: 13px;
  margin: 0;
  padding: 1ex 2ex;
  display: none;
}

ul#statsList.list-unstyled li {
  margin: 0;
}

ul#statsList.list-unstyled li span {
  display: inline-block;
  padding: .25ex .5ex;
  text-align: right;
  width: 1.3em;
}

ul#statsList span.code {
  text-align: center;
  font-family: monospace;
}

#stats-total {
  padding: 1ex 2ex;
  border: 1px solid rgba(255, 0, 0, 0.4);
  border-radius: 3px;
  text-shadow: 1px 1px 0 white;
}

.stats-footer {
  border-top: 1px solid #DDD;
  font-size: 12px;
  padding: .5ex;
  padding-top: 1ex;
  text-align: center;
  display: none;
}

#togglejudete a, .stats-footer a {
  border: none;
}

#togglejudete {
  text-align: center;
  padding: .75ex 0 0 0;
}

#togglejudete a {
  font-size: 13px;
}

#statswrapper.showdetails ul#statsList, #statswrapper.showdetails .stats-footer {
  display: block;
}

#statswrapper.showdetails #stats-total {
  margin-bottom: 1ex;
  background-color: rgba(0, 0, 0, .05);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #DDD;
}

#statswrapper.showdetails {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .05);
  border: 1px solid #DDD;
}